---
import type { Category } from "@/types/category";
const {
    title = "Título Desconocido",
    artist = "Artista Desconocido",
    tone = "C",
    category,
    url_song = "",
    user,
} = Astro.props;
---

<header class="mb-8">
    <h1 class="text-4xl font-extrabold text-text-main mb-1">{title}</h1>
    <h2 class="text-xl text-accent-main font-medium">
        <span class="text-text-secondary">Autor:</span>
        {artist}
    </h2>
    <div class="flex items-center gap-4 mt-4 text-sm text-text-secondary">
        <span
            class="bg-bg-secondary px-3 py-1 rounded-full border border-white/10"
        >
            Ton: <span id="header-tone" class="text-accent-main font-bold"
                >{tone}</span
            >
        </span>
        <a href={`/search/all?categoryId=${category?.id}`} target="_blank">
            <span
                class="cursor-pointer hover:underline bg-bg-secondary px-3 py-1 rounded-full border border-white/10 text-accent-main/90 font-bold"
            >
                {category?.name}
            </span>
        </a>
        {
            user && (
                <span class="text-xs text-text-secondary/80 ml-auto">
                    Creado por: {user.name}
                </span>
            )
        }
    </div>
</header>

<script>
    import { transposeChord } from "../utils/music";

    const headerTone = document.getElementById("header-tone");

    window.addEventListener("song-transpose", (e: any) => {
        if (!headerTone) return;
        const semitones = e.detail.semitones;
        const currentTone = headerTone.innerText.trim();
        const newTone = transposeChord(currentTone, semitones);
        headerTone.innerText = newTone;
    });
</script>
